<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <link rel="stylesheet" type="text/css" href="/resources/style.css">
    <title>Beango Messenger</title>
</head>
<body>
    <span class="title"><span>> Beango Messenger </span></span> 
    <div id="login-form">
        <form hx-ext='json-enc'>
            <div class="form-row">
                <label for="username">Username:</label>
                <input type="text" name="username">
            </div>
            <div class="form-row">
                <label for="password">Password:</label>
                <input type="password" name="password">
            </div>
            <div class="form-row button-row">
                <button hx-post="/login/login" type="submit" hx-swap="none">Log In</button>
                <button hx-post="/login/signup" type="submit" hx-swap="none">Sign Up</button>
            </div>
            <div id="errors" class="error"></div> 
        </form>
    </div>
    
</body>
</html>