@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Megrim');

/* GENERAL */

:root {
	--hacker-green: #37ff00;
	--hacker-green-accent: #22c543;
	--hacker-grey: #787171;
	--hacker-font: 'VT323', 'Courier New', Courier, monospace; 
	--text-font: 'Courier New', Courier, monospace 
}

body {
	background-color: black;
	color: white;
	font-family: var(--text-font);
	margin: 0;
}

.error {
	background-color: transparent;
	min-height: 1.2em;
	line-height: 1.2em;
	font-weight: bold;
	font-size: small;
	text-align: center;
	margin: 10px 0;
	padding: 2px 0;
}

.error:not(:empty) {
	background-color: red;
}

.info {
	color: black;
	font-weight: bold;
	font-size: small;
	background-color: var(--hacker-grey);
  	padding: 2px;
}

.fill-button {
	font-family: var(--hacker-font);
	font-size: medium;
	background-color: var(--hacker-green);
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	padding: 3px;
}

.fill-button:hover {
	background-color: var(--hacker-green-accent);
}

.underline-button {
	font-family: var(--hacker-font);
	font-size: medium;
	background-color: transparent;
	color: white;
	padding: 5px 0;
	margin: 0px 15px;
	border: none;
	border-bottom: 2px solid transparent;
	cursor: pointer;
	text-transform: uppercase;
}

.underline-button:hover {
	border-bottom: 2px solid var(--hacker-green);
}

.accent {
	color: var(--hacker-green-accent);
}

/* LOGIN PAGE */

span.logo  {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 50px 0;
	user-select: none;
	font-family: 'Megrim';
	color: var(--hacker-green);
	font-size: 75px;
}

span.logo span::after {
	content: "|";
	width: 0px;
	background: var(--hacker-green);
	display: inline-block;
	animation: cursor-blink 1.2s steps(1) infinite;
}

@keyframes cursor-blink {
	50% {
		opacity: 0;
	}
}

div.form-row {
	margin-top: 20px;
	margin-bottom: 20px;
	letter-spacing: 2px;
	display: flex;
	min-width: 340px;
}

div.form-row label {
	font-family: var(--hacker-font);
	font-size: medium;
	text-transform: uppercase;
	display: inline-block;
	width: 110px
  }
  
div.form-row input {
	display: inline-block;
	vertical-align: middle;
	font-family: var(--text-font);
	width: 60%;
	margin: 0 20px;
	border: none;
	outline: none;
	background-color: transparent;
	color: var(--hacker-grey);
	caret-color: var(--hacker-green);
}

div.button-row {
	display: flex;
	justify-content: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px 0;
}

/* HEADER */

.header-bar {
	display: flex;
	margin-top: 30px;
	padding: 0 30px;
	justify-content: space-between;
}

.welcome-message {
	display: inline-block;
	color: var(--hacker-green);
	white-space: nowrap;
	overflow: hidden;
	animation: welcome-message 2s steps(20, end);
}
  
@keyframes welcome-message {
	from {
		width: 5%;
	}
	to {
		width: 100%;
	}
}

/* HOME PAGE */

.homepage-column {
	height: 70vh;
	overflow-y: auto;
}

.chat-list {
	display: block;
}

.message-list {
	display: flex;
	flex-direction: column-reverse;
}

.heading-1  {
	font-family: 'Megrim';
	color: var(--hacker-green);
	font-size: larger;
}

.column-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 10px 0;
	user-select: none;
}

.sidebar {
	width: 25%;
	padding: 0 30px;
	box-sizing: border-box;
	min-width: 230px;
}

.chat-selector {
	color: var(--hacker-grey);
	cursor: pointer;
}

.chat-container {
	display: flex;
	width: 100%;
	height: 100%;
}

.main-pane {
	width: 100%;
	padding: 0 30px;
	box-sizing: border-box;
}

table {
	border-collapse: collapse;
}

.list-item {
	font-size: small;
	line-height: 2;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

td.cue {
	color: var(--hacker-grey);
	font-weight: bold;
	padding: 0 10px 0 0;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 150px;
}

td.message {
	padding: 0;
	white-space: pre-wrap;
	vertical-align: top;
}

.input-bar {
	margin-top: 20px;
}

.input-prompt {
	color: var(--hacker-green);
	margin-right: 10px;
	vertical-align: top;
	line-height: 1.5;
}

.input-value {
	font-family: var(--text-font);
	font-size: small;
	border: none;
	outline: none;
	background-color: transparent;
	caret-color: var(--hacker-green);	
	color: white;
	line-height: 1.5;
	resize: none;
	width: 60%;
}

.message-input {
	height: 10vh;
}
